# List of untracked files to ignore
1_Introduction/1.1 Fundamentals of Model Based Systems Engineering for Life Cycle Management_EN.docx
1_Introduction/1.1 Fundamentals of Model Based Systems Engineering for Life Cycle Management.docx
1_Introduction/1.1 Fundamentals of Model Based Systems Engineering for Life Cycle Management_ES.docx
3_PHASE4_Architecture/docs/arquitecturaDesignExercise/Architecture design exercise_EN.docx
3_PHASE4_Architecture/docs/arquitecturaDesignExercise/Architecture design exercise_ES.docx
3_PHASE4_Architecture/docs/arquitecturaDesignExercise/Scooter requirements_EN.docx
3_PHASE4_Architecture/docs/arquitecturaDesignExercise/Scooter requirements_ES.docx
4_PHASE9_Validation/docs/Scooter HIL exercise/Scooter HIL exercise_EN.docx
4_PHASE9_Validation/docs/Scooter HIL exercise/Scooter HIL exercise_ES.docx
5_Miscellaneous/exerciseSolutionsRubrics/ArchitectureAndValidation/Solucion ejercicio EN.docx
5_Miscellaneous/exerciseSolutionsRubrics/ArchitectureAndValidation/Solucion ejercicio ES.docx
